$success1: #66bb6a;
$success2: #43a047;
$primary1: #ffa726;
$primary2: #fb8c00;
$info1: #2f6791;
$info2: #2f557f;
$warning1: #68635A;
$warning2: #514B42;
$default1: #68635A;
$default2: #514B42;

$textDefault: #4f5254;
$textPrimary: #FDA83E;
$textHover: #209ee3;

$colorBlanco: #fefefe;

body {
  background: #FBF9F3;
  color: #4f5254;
}

.sidebar .nav li:hover > a {
  color: #fff;
}

.sidebar {
  background: #e36520;
  color: #fff;

  .nav {
    i {
      color: #fff;
    }
    li {
      a {
        color: #fff;
      }

      &.active a {
        background: linear-gradient(60deg, #ffa726, #fb8c00);
      }
    }

  }

  .logo {
    .simple-text {
      color: #fff;

      img {
        height: 100px;
      }
    }
  }

  .sidebar-background:after {
    display: none;
  }

}

.card {
  .card-header {
    border-radius: 3px;
    margin: -20px 15px 0;
    padding: 15px;
    position: relative;
    background: linear-gradient(60deg, $default1, $default2) !important;
    box-shadow: 0 4px 20px 0px rgba($default1, 0.14), 0 7px 10px -5px rgba($default2, 0.4);

    .card-title {
      color: $colorBlanco;
    }
  }
}

.navbar {
  background: #fff;
  color: #E1652D;

  &.navbar-absolute {
    z-index: 1000;
  }
}

.loader {
  text-align: center;
  img {
    height: 100px;
  }
}

.btn {
  background: $default1;
}

.icon {
  color: $default1;
  font-size: 2rem;
  margin-right: 1rem;
}

.childItem {
  color: $default1;
  font-size: 13px;

  td:first-child {
    padding-left: 20px;
  }
}

.cdk-overlay-pane {
  margin: auto !important;
}

@mixin partialTheme($name, $color1, $color2) {
  .#{$name} {
    .btn {
      background: $color1;
    }
    .icon {
      color: $color1;
    }

    .card {
      .card-header {
        background: linear-gradient(60deg, $color1, $color2) !important;
        box-shadow: 0 4px 20px 0px rgba($color1, 0.14), 0 7px 10px -5px rgba($color2, 0.4);
        .card-title {
          color: $colorBlanco;
        }
      }
    }

  }
}

@include partialTheme('Primary', $primary1, $primary2);
@include partialTheme('Info', $info1, $info2);
@include partialTheme('Success', $success1, $success2);
@include partialTheme('Default', $default1, $default2);
@include partialTheme('Login', $primary2, $primary2);

.Login {
  .card {
    .card-header {
      background: linear-gradient(60deg, #E1652D, #E1652D) !important;
    }
  }

  .btn {
    background: $primary1;
  }

  .mat-input-element {
    caret-color: $default2;
  }
  form .ng-valid .mat-form-field-label {
    color: #E1652D;
  }

  .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: $primary1;
  }
}

.bg-body {
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  background: url('/assets/img/upn.jpg') no-repeat;
  background-size: cover;
}

.bg-layer {
  background: rgba($default1, .25);
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.container {
  margin: 25px;
  position: relative;
  z-index: 2;
}

.container-login {
  text-align: center;
  color: #575A5C;

  .card {
    background: #FBF9F3;
  }
}

@media all and (min-width: 768px) {
  .container-login {
    width: 30%;
    margin: auto;
    transform: translateY(20%);
  }
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus,
.dropdown-menu a:hover,
.dropdown-menu a:focus,
.dropdown-menu a:active {
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(#E1652D, 0.4);
  background-color: #E1652D;
}
