<div class="row">
  <div class="col-md-4 {{i.cssClass}}" *ngFor="let i of items">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">{{i.title}}</h4>
      </div>
      <div class="card-body">
        <p class="card-category">{{i.description}}</p>
      </div>
      <div class="card-footer" style="margin: auto;">
        <a [routerLink]="i.link" class="btn btn-round">Ingresar</a>
      </div>
    </div>
  </div>
</div>
