<div class="bg-body"></div>
<div class="bg-layer"></div>
<div class="container container-login Login">
  <main>
    <div class="card">
      <div class="card-header" style="display: flex;align-items: center;">
        <div style="width: 100px;">
          <img src="/assets/img/logos/iasd_logo.svg"/>
        </div>
        <div style="text-align: center;">
          <h3 class="card-title">Unión Peruana del Norte</h3>
        </div>
      </div>
      <div class="card-body">
        <br>
        <p class="card-subtitle text-left">Ingrese sus credenciales para acceder al sistema</p>
        <br>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-12">
              <mat-form-field>
                <input matInput placeholder="Usuario" required formControlName="email" autofocus>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Contraseña" type="password" formControlName="password" required>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p class="text-danger card-subtitle">{{msgError}}</p>
            </div>
          </div>
          <button mat-raised-button type="submit" class="btn btn-round pull-right">Ingresar</button>
          <div class="clearfix"></div>
        </form>
      </div>
      <div class="card-footer">
        <p style="width: 100%;">&copy; Uni&oacute;n Peruana del Norte - 2018. All rights reserved.</p>
      </div>
    </div>
  </main>
</div>
