<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <div class="card">
          <div class="card-header" style="display: flex;align-items: center;">
            <div style="width: 100px;">
              <img src="/assets/img/logos/iasd_logo.svg"/>
            </div>
            <div style="text-align: center;">
              <h3 class="card-title">Unión Peruana del Norte</h3>
              <h4 class="card-subtitle">Ingreso al sistema</h4>
            </div>
          </div>
          <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field>
                    <input matInput placeholder="Usuario" required formControlName="email">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Contraseña" type="password" formControlName="password" required>
                  </mat-form-field>
                </div>

              </div>

              <button mat-raised-button type="submit" class="btn btn-round pull-right">Ingresar</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
