<div class="card">
  <div class="card-header">
    <h4 class="card-title">Listado de Departamentos</h4>
  </div>
  <div class="card-body">
    <upn-loader *ngIf="isLoading"></upn-loader>
    <div *ngIf="!isLoading">

      <div *ngIf="!data" class="alert">
        <i class="fa fa-warning icon"></i>NO SE ENCONTRARON DATOS
      </div>

      <div class="row">
        <div class="col-12">
          <div class="table-responsive" *ngIf="data">
            <table class="table table-striped table-hover">
              <tr></tr>
              <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Monto</th>
                <th>Opc.</th>
              </tr>
              <tbody>
              <tr></tr>
              <tr *ngFor="let d of data;let index=index;">
                <td>{{index+1}}</td>
                <td>{{d.nombre}}</td>
                <td>S/. {{d.saldo | number:'1.2-2'}}</td>
                <td>
                  <button class="btn" mat-raised-button (click)="openDialog(d)">Ver más</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
