<div mat-dialog-content>
  <div class="row">
    <div class="col-12 col-sm-4">
      <upn-summary-department [data]="data.department"></upn-summary-department>
    </div>
    <div class="col-12 col-sm-8">
      <upn-detail-department [data]="detail" [isLoading]="loadingDetails"></upn-detail-department>
    </div>
  </div>
</div>
<div mat-dialog-actions class="text-right" style="display: block;">
  <button class="btn" (click)="closeDialog()">Cerrar</button>
</div>
