<div class="card">
  <div class="card-header">
    <h4 class="card-title">Resumen</h4>
  </div>
  <div class="card-body">
    <div *ngIf="!data" class="alert">
      <i class="fa fa-warning icon"></i>NO SE ENCONTRARON DATOS
    </div>

    <div class="row">
      <div class="col-12">
        <div class="table-responsive" *ngIf="data">
          <table class="table table-striped table-hover">
            <tr></tr>
            <tr>
              <th></th>
              <th>Importe</th>
              <th>%</th>
            </tr>
            <tbody>
            <tr (click)="data.childOpen=!data.childOpen">
              <td><i class="fa"
                     [ngClass]="{'fa-chevron-circle-up': data.childOpen, 'fa-chevron-circle-down': !data.childOpen}"></i>
                Total PPTO
              </td>
              <td>S/. {{data.totalPpto | number:'1.2-2'}}</td>
              <td>{{1 | percent:'1.2-2'}}</td>
            </tr>
            <tr class="childItem" [hidden]="!data.childOpen">
              <td>Saldo Inicial</td>
              <td>S/. {{data.saldoInicial | number:'1.2-2'}}</td>
              <td></td>
            </tr>
            <tr class="childItem" [hidden]="!data.childOpen">
              <td>PPTO</td>
              <td>S/. {{data.ppto | number:'1.2-2'}}</td>
              <td></td>
            </tr>
            <tr>
              <td>Realizado</td>
              <td>S/. {{data.realizado | number:'1.2-2'}}</td>
              <td>{{data.porcentajeRealizado | percent:'1.2-2'}}</td>
            </tr>
            <tr>
              <td><b>Saldo</b></td>
              <td>S/. {{data.saldo | number:'1.2-2'}}</td>
              <td></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-12">
        <div style="display: block" [hidden]="!data">
          <canvas baseChart
                  [data]="chartData"
                  [labels]="chartLabels"
                  chartType="doughnut"
                  [colors]="chartColors"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
