<div class="card">
  <div class="card-header">
    <h4 class="card-title">Detalles de lo realizado <span
      class="pull-right" *ngIf="data">Total: S/. {{data.total | number:'1.2-2'}}</span></h4>
  </div>
  <div class="card-body">
    <upn-loader *ngIf="isLoading"></upn-loader>
    <div *ngIf="!isLoading">
      <div *ngIf="!data" class="alert">
        <i class="fa fa-warning icon"></i> NO SE ENCONTRARON DATOS
      </div>
      <div class="table-responsive" *ngIf="data">
        <table class="table table-striped table-hover">
          <tr></tr>
          <tr>
            <th>#</th>
            <th>Fecha</th>
            <th>Detalle</th>
            <th>Importe</th>
          </tr>
          <tbody>
          <tr *ngFor="let i of data.items;let index = index;">
            <td>{{index+1}}</td>
            <td>{{i.fecha}}</td>
            <td>{{i.comentario}}</td>
            <td>S/. {{i.valor | number:'1.2-2'}}</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td><b>TOTAL</b></td>
            <td>S/. {{data.total | number:'1.2-2'}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
