<div class="row Default">
  <div class="col-md-3">
    <upn-filter (onSearch)="search($event)" [showMonths]="false"></upn-filter>
  </div>
  <div class="col-md-9">
    <upn-list-departments [data]="departments" [isLoading]="searching" [params]="params"></upn-list-departments>
  </div>
</div>
