<div class="row Success">
  <div class="col-md-3">
    <upn-filter (onSearch)="search($event)"></upn-filter>
  </div>
  <div class="col-md-9">
    <upn-summary-statement (onSelect)="searchDetail($event)" [items]="salaryItems" [isLoading]="searching"></upn-summary-statement>
    <upn-detail-statement [detail]="detail" [isLoading]="detailSearching"></upn-detail-statement>
  </div>
</div>
