<div class="row Info">
  <div class="col-md-3">
    <upn-filter (onSearch)="search($event)" [showMonths]="false"></upn-filter>
  </div>
  <div class="col-md-9">
    <upn-summary-travel [data]="summary" [isLoading]="searchingSummary"></upn-summary-travel>
    <upn-detail-travel [data]="detail" [isLoading]="searchingDetail"></upn-detail-travel>
  </div>
</div>
