<div class="card card-profile">
  <div class="card-avatar">
    <a href="#">
      <img class="img bg-white" [src]="imageEmployee" onerror="this.src='./assets/img/profile/male-profile.jpg'"/>
    </a>
  </div>
  <div class="card-body text-left">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="entity">Entidad</label>
          <select class="form-control form-control-sm" id="entity" [formControl]="entity" required>
            <option value="">Selecciona una entidad</option>
            <optgroup label="{{ge.name}}" *ngFor="let ge of groupsEntity">
              <option *ngFor="let entity of ge.entidades" [value]="entity.id">{{ entity.name | uppercase }}</option>
            </optgroup>
          </select>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <label for="year">Año</label>
          <select class="form-control form-control-sm" id="year" [formControl]="year" required>
            <option value="">Selecciona un año</option>
            <option *ngFor="let y of years" [value]="y.id_anho">{{ y.id_anho | uppercase }}</option>
          </select>
        </div>
      </div>
      <div class="col-sm-12" *ngIf="showMonths">
        <div class="form-group">
          <label for="month">Mes</label>
          <select class="form-control form-control-sm" id="month" [formControl]="month" required>
            <option value="">Selecciona un mes</option>
            <option *ngFor="let m of months" [value]="m.id_mes">{{ m.nombre | uppercase }}</option>
          </select>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <label for="employee">Empleado</label>
          <select class="form-control form-control-sm" (change)="selectEmployee()" id="employee"
                  [formControl]="employee" required>
            <option value="">Selecciona una persona</option>
            <option *ngFor="let e of employees" [value]="e.id">{{ e.name | uppercase }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-sm-12 text-center">
        <button label="Visualizar" title="Visualizar" class="btn btn-round"
                (click)="search()">Buscar <i class="material-icons">search</i></button>
      </div>
    </div>
  </div>
</div>
