<div class="card" *ngIf="detail">
  <div class="card-header card-header-success">
    <h4 class="card-title">Detalle: {{detail.title}}
      <span class="pull-right">S/. {{detail.total | number:'1.2-2' }}</span>
    </h4>
  </div>
  <div class="card-body">
    <upn-loader *ngIf="isLoading"></upn-loader>
    <div class="list-group" *ngIf="detail.summary && !isLoading">
      <button type="button" class="list-group-item list-group-item-action"
              (click)="detail.items = detail.summary.itemsIngresos">
        INGRESOS<span class="pull-right">S/. {{detail.summary.ingresos | number:'1.2-2' }}</span>
      </button>
      <button type="button" class="list-group-item list-group-item-action"
              (click)="detail.items = detail.summary.itemsDescuentos">
        DESCUENTOS<span class="pull-right">S/. {{detail.summary.descuentos | number:'1.2-2' }}</span>
      </button>
    </div>

    <div class="dropdown-divider"></div>

    <div class="table-responsive">
      <table *ngIf="detail.items.length > 0" class="table table-striped table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>Descripción</th>
          <th>Valor</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let i of detail.items; let index = index;">
          <tr (click)="i.open=!i.open">
            <td>{{index+1}}</td>
            <td>
              <i class="fa" [ngClass]="{'fa-chevron-circle-up': i.open, 'fa-chevron-circle-down': !i.open}" *ngIf="i.children"></i>
              {{i.fecha}} {{i.comentario}}
            </td>
            <td>S/. {{i.valor | number:'1.2-2' }}</td>
          </tr>
          <ng-container *ngIf="i.children">
            <tr *ngFor="let c of i.children;" [hidden]="!i.open">
              <td></td>
              <td>{{c.fecha}} {{c.comentario}}</td>
              <td>S/. {{c.valor | number:'1.2-2' }}</td>
            </tr>
          </ng-container>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
