<div class="card">
  <div class="card-header">
    <h4 class="card-title">Resumen</h4>
  </div>
  <div class="card-body">
    <upn-loader *ngIf="isLoading"></upn-loader>
    <div class="list-group" *ngIf="!isLoading">

      <button type="button" *ngIf="items.length === 0" class="list-group-item list-group-item-action">
        <i class="fa fa-warning icon"></i>NO SE ENCONTRARON DATOS
      </button>

      <button type="button" class="list-group-item list-group-item-action" (click)="selectItem(item.id)"
              *ngFor="let item of items"
              title="Clic para ver detalle">
        <i class="fa {{item.icon}}"></i>
        {{item.name}} <span class="pull-right">S/. {{ item.value | number:'1.2-2' }}</span></button>

      <button type="button" class="list-group-item list-group-item-action btn-primary" *ngIf="items.length > 0"
              title="Clic para descargar" (click)="selectItem(0)">
        BOLETA DE PAGO <span class="pull-right"><i class="fa fa-cloud-download icon"></i></span></button>
    </div>
  </div>
</div>
